<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>menuList</key>
	<array>
		<dict>
			<key>name</key>
			<string>移动金融</string>
			<key>tag</key>
			<string></string>
			<key>child</key>
			<array>
				<dict>
					<key>name</key>
					<string>账户查询</string>
					<key>tag</key>
					<string></string>
					<key>child</key>
					<array>
						<dict>
							<key>name</key>
							<string>存款余额查询</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>交易明细查询</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>服务管理</string>
					<key>tag</key>
					<string></string>
					<key>child</key>
					<array>
						<dict>
							<key>name</key>
							<string>行内账户管理</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>功能与限额设置</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>安全保护</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>密码修改</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>登录方式管理</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>转账汇款</string>
					<key>tag</key>
					<string></string>
					<key>child</key>
					<array>
						<dict>
							<key>name</key>
							<string>行内转账</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>选择常用收款账户</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>收款类型设置</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>跨行转账</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>根据关键字查银行</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>根据关键字查网点</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>转账明细回单查询</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>常用收款账户管理</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>一键直转</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>投资理财</string>
			<key>tag</key>
			<string></string>
			<key>child</key>
			<array>
				<dict>
					<key>name</key>
					<string>基金代销</string>
					<key>tag</key>
					<string></string>
					<key>url</key>
					<string></string>
					<key>child</key>
					<array>
						<dict>
							<key>name</key>
							<string>风险评估</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>开户</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>购买</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>定投</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>撤单</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>赎回</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>持仓查询</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>交易明细查询</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>基金账户信息查询</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>理财产品</string>
					<key>tag</key>
					<string></string>
					<key>url</key>
					<string></string>
					<key>child</key>
					<array>
						<dict>
							<key>name</key>
							<string>在售查询与购买</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>赎回</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>撤销</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>持仓查询</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>交易明细查询</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>通知存款</string>
					<key>tag</key>
					<string></string>
					<key>url</key>
					<string></string>
					<key>child</key>
					<array>
						<dict>
							<key>name</key>
							<string>智能通知存款</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>普通通知存款</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>定期存款</string>
					<key>tag</key>
					<string></string>
					<key>url</key>
					<string></string>
					<key>child</key>
					<array>
						<dict>
							<key>name</key>
							<string>定期存款</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
							<key>child</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>信用卡</string>
			<key>tag</key>
			<string></string>
			<key>child</key>
			<array>
				<dict>
					<key>name</key>
					<string>信用卡还款</string>
					<key>tag</key>
					<string></string>
					<key>url</key>
					<string></string>
					<key>child</key>
					<array>
						<dict>
							<key>name</key>
							<string>同名信用卡还款</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>非同名信用卡还款</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>一键还款</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>查询</string>
					<key>tag</key>
					<string></string>
					<key>url</key>
					<string></string>
					<key>child</key>
					<array>
						<dict>
							<key>name</key>
							<string>账户信息</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>账单</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>分期业务</string>
					<key>tag</key>
					<string></string>
					<key>url</key>
					<string></string>
					<key>child</key>
					<array>
						<dict>
							<key>name</key>
							<string>账单分期</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>消费分期</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>预借现金</string>
					<key>tag</key>
					<string></string>
					<key>url</key>
					<string></string>
					<key>child</key>
					<array>
						<dict>
							<key>name</key>
							<string>业务介绍</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>同行预借现金</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>跨行预借现金</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>新增常用账户</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>查询转账明细</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>密码管理</string>
					<key>tag</key>
					<string></string>
					<key>url</key>
					<string></string>
					<key>child</key>
					<array>
						<dict>
							<key>name</key>
							<string>修改查询密码</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>设置/修改交易密码</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>消费使用交易密码设置</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>个人资料管理</string>
					<key>tag</key>
					<string></string>
					<key>url</key>
					<string></string>
					<key>child</key>
					<array>
						<dict>
							<key>name</key>
							<string>账单地址查询及修改</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
						<dict>
							<key>name</key>
							<string>其他资料修改</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>信用卡申请</string>
					<key>tag</key>
					<string></string>
					<key>url</key>
					<string></string>
					<key>child</key>
					<array>
						<dict>
							<key>name</key>
							<string>信用卡申请</string>
							<key>tag</key>
							<string></string>
							<key>url</key>
							<string></string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>金融助手</string>
			<key>tag</key>
			<string></string>
			<key>child</key>
			<array>
				<dict>
					<key>name</key>
					<string>资费标准</string>
					<key>tag</key>
					<string></string>
					<key>url</key>
					<string></string>
					<key>child</key>
					<dict>
						<key>name</key>
						<string>资费标准</string>
						<key>tag</key>
						<string></string>
						<key>url</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>name</key>
					<string>存贷利率</string>
					<key>tag</key>
					<string></string>
					<key>url</key>
					<string></string>
					<key>child</key>
					<dict>
						<key>name</key>
						<string>存贷利率</string>
						<key>tag</key>
						<string></string>
						<key>url</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>name</key>
					<string>理财计算器</string>
					<key>tag</key>
					<string></string>
					<key>url</key>
					<string></string>
					<key>child</key>
					<dict>
						<key>name</key>
						<string>理财计算器</string>
						<key>tag</key>
						<string></string>
						<key>url</key>
						<string></string>
					</dict>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
